registry = 'https://registry.npmjs.org/'

public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@commitlint/cli
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@babel/eslint-parser
public-hoist-pattern[]=eslint-plugin-*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=ts-transform-paths
public-hoist-pattern[]=tailwindcss
public-hoist-pattern[]=@changesets/cli

auto-install-peers = true
link-workspace-packages=false
strict-peer-dependencies=false
